# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
libs
run
forge-1.12-14.21.1.2387-mdk.zip
wundrmodutils-2.0-indev-sources.jar
