# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
forge-1.12.2-14.23.4.2759-mdk.zip
libs
run
wundrmodutils-1.12-2.0.0.0-sources.jar
